{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ gh_template_comment | comment }}

[Unit]
Description=Trytons builtin scheduler cron for GNU Health Server
After=syslog.target
Requires=gnuhealth.service

[Service]
User=gnuhealth
ExecStart={{ gh_venv }}/bin/trytond-cron -c {{ gh_config_path }}/trytond.conf -d {{ gh_psql_db_name }} -vv
Restart=always
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
