{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ gh_template_comment | comment }}

[Unit]
Description=GNU Health WebDAV Server
After=syslog.target
Requires=gnuhealth.service

[Service]
User=gnuhealth
ExecStart={{ gh_venv }}/bin/gnuhealth-webdav-server -vv
Environment="TRYTOND_CONFIG={{ gh_config_path }}/trytond.conf"
Environment="GNUHEALTH_VERSION={{ gh_version }}"
Restart=always
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
