{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ gh_template_comment | comment }}

# GNU Health BASH environment

# Set environment variables
export EDITOR=nano
export TRYTOND_CONFIG={{ gh_config_path }}/trytond.conf
export TRYTOND_LOGGING_CONFIG={{ gh_config_path | default('/opt/gnuhealth/etc') }}/gnuhealth_log.conf
export TRYTON_VERSION=`{{ gh_venv }}/bin/pip3 show trytond | grep Version | cut -b 10-`
export GNUHEALTH_VERSION=`{{ gh_venv }}/bin/pip3 show gnuhealth-all-modules | grep Version | cut -b 10-`

# Ensure editor actually exists
if ! type $EDITOR >/dev/null ; then
    echo "$EDITOR not found"
fi

# Aliases
alias activate='source {{ gh_venv }}/bin/activate'
alias cdlogs='cd {{ gh_log_path }}'
alias cdconf='cd {{ gh_config_path }}'
alias cdmods='cd {{ gh_location.stdout[10:] }}/trytond/modules'
alias editconf='${EDITOR} ${TRYTOND_CONFIG}'

# Protect from accidental deletions
alias rm='rm -i'
alias mv='mv -i'
alias cp='cp -i'
