{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

# Vars from HIS to be used by client
his_host_domain: >
  {{ nginx_rproxy_domain | default('localhost') }}:{{ (nginx_sites_https[0].external_port | default('443')) if (nginx_https | default(true))
  else (nginx_sites_http[0].external_port | default('80')) }}
his_db: "{{ gh_psql_db_name }}"
his_demo_db: {{ gh_demo_db }}
his_demo_db_name: "{{ gh_demo_db_name }}"
his_certs:
  - "../fetch/{{ groups['ownca'][0] if groups['ownca'] is defined and groups['ownca'] | length > 0 else groups['gnuhealth'][0] }}-CA.crt"
