{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

#!/bin/bash

{{ gh_template_comment | comment }}

# Prepare log file
echo "Running automatic PyPI update" >> {{ gh_log_path }}/update_gnuhealth.log
date >> {{ gh_log_path }}/update_gnuhealth.log

# Get current GNU Health version
NEXT_MAJOR="{{ gh_version.split('.')[0] }}.{{ gh_version.split('.')[1] | int + 1 }}"
TEMP_STRING=$(su gnuhealth -s /bin/bash -c '{{ gh_venv }}/bin/pip3 show gnuhealth-all-modules | grep Version')
GNUHEALTH_VERSION_CURRENT=${TEMP_STRING:9}
echo 'Current GNU Health version:'
echo $GNUHEALTH_VERSION_CURRENT
echo 'Updating PyPI package gnuhealth-all-modules < $NEXT_MAJOR'

# Run update command
su gnuhealth -s /bin/bash -c "{{ gh_venv }}/bin/pip3 install --upgrade 'gnuhealth-all-modules<$NEXT_MAJOR,>=$GNUHEALTH_VERSION_CURRENT'" > /dev/null

# Check if version changed
TEMP_STRING=$(su gnuhealth -s /bin/bash -c '{{ gh_venv }}/bin/pip3 show gnuhealth-all-modules | grep Version')
GNUHEALTH_VERSION_NEW=${TEMP_STRING:9}
echo 'New GNU Health version:'
echo $GNUHEALTH_VERSION_NEW

# Write log if version changed. Restart service if version changed and boolean was set during Ansible rollout.
if [ "$GNUHEALTH_VERSION_CURRENT" == "$GNUHEALTH_VERSION_NEW" ]; then
echo 'GNU Health was already up to date.'
else
echo 'GNU Health was updated.' | tee -a {{ gh_log_path }}/update_gnuhealth.log
{% if gh_restart_service_after_update %}
systemctl restart gnuhealth.service | tee -a {{ gh_log_path }}/update_gnuhealth.log
{% endif %}
fi
